body {
    background-image: url(field.jpg);
    font-family: Poiret One;
    letter-spacing: 2px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  nav a {
    color: #ffffff;
    text-shadow: 0 0 5px #55593d, 0 0 5px #a39c4b;
    font-family: Poiret One;
    letter-spacing: 5px;
    text-decoration: none;
    padding: 9px 19px;
    margin: 0 9px;
    font-size: 18px;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 10px 0;
  }
  
  #portal:hover {
    text-shadow: 0 0 5px #e100ff, 0 0 5px #a2f6ff, 0 0 5px #bb00ff,
      0 0 5px #b300ff;
    border-radius: 1px;
  }
  
  #zodiac:hover {
    text-shadow: 0 0 5px #ff9100, 0 0 5px #a2f6ff, 0 0 5px #ffa600,
      0 0 5px #ff7700;
    border-radius: 1px;
  }
  
  #oracle:hover {
    text-shadow: 0 0 5px #00ff1a, 0 0 5px #0a4606, 0 0 5px #0cb128,
      0 0 5px #0e893d;
    border-radius: 1px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding-right: 35%;
    padding-left: 35%;
    padding-top: 7%;
    color: white;
  }
  
  #submit {
    font-family: Poiret One;
    border: #efb0b0;
    border-radius: 15px;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0 0 5px #d58282, 0 0 5px #efb0b0, 0 0 5px #d58282, 0 0 5px #d58282;
  }
  
  label {
    padding-bottom: 1%;
  }

  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
  }
  
  .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }